**/Makefile.in
**/*.gmo
**/*_gen.c
**/*_gen.h
translations/*/*.pot
build
configure
aclocal.m4
autom4te.cache
bootstrap/compile
bootstrap/config.guess
bootstrap/config.sub
bootstrap/depcomp
bootstrap/install-sh
bootstrap/ltmain.sh
bootstrap/missing
gen_headers/fc_config.h.in
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
**/Makefile
**/.deps
**/*.o
**/*.a
**/*.so
**/*.lo
**/.libs
**/*.la
**/*.appdata.xml
**/*.desktop
libtool
fcgui
fcser
fcruledit
freeciv.spec
client/freeciv-gtk3
config.log
config.status
gen_headers/fc_config.h
gen_headers/freeciv_config.h
gen_headers/stamp-h1
gen_headers/stamp-h2
translations/*/POTFILES
translations/*/stamp-po
doc/man/freeciv-client.6
doc/man/freeciv-manual.6
doc/man/freeciv-modpack.6
doc/man/freeciv-ruledit.6
doc/man/freeciv-server.6
**/*.gz
client/freeciv-sdl2
server/freeciv-server
data/Freeciv
data/scenarios/earth
data/stdsounds/wakeup.ogg
dependencies/tinycthread/Version
dependencies/tolua-5.2/Version
dependencies/tolua-5.2/freeciv_tolua.patch
dependencies/tolua-5.2/src/bin/tolua
doc/README.msys2
scripts/Earth.sav
server/savegame.c
tools/freeciv-manual
tools/freeciv-mp-gtk3
tools/ruledit/freeciv-ruledit
tools/ruledit/meta_edit_utype.cpp
tools/ruledit/meta_requirers_dlg.cpp
tools/ruledit/meta_ruledit_qt.cpp
tools/ruledit/meta_tab_building.cpp
tools/ruledit/meta_tab_misc.cpp
tools/ruledit/meta_tab_nation.cpp
tools/ruledit/meta_tab_tech.cpp
tools/ruledit/meta_tab_unit.cpp
translations/freeciv/remove-potcdate.sed
translations/nations/remove-potcdate.sed
translations/ruledit/remove-potcdate.sed
win32/installer_msys2/
